<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <!-- Навигация -->
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'course_selection' %}">Курсы</a>
    </nav>

    <!-- Основной контент -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Футер -->
    <footer>
        <p>Футер</p>
    </footer>

    <script src="{% static 'myapp/js/script.js' %}"></script>
</body>
</html>