* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fullscreen-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}